<div class="container">
    <p>City of Palm Coast Wiki Pages</p>
 <style>
     .WikiPage
     {
         background-image: url('../images/Palm.jpg');
         background-size: cover;
     }
   
   .WikiPage  .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        
        padding: 0px !important;
        
        
    }
    .WikiPage .container .p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.5em;

    }
    .WikiPage  a {
        position: relative;
    }
    .WikiPage  a img {
        width: 480px;
        height: 520px;
    }
    .WikiPage  p 
    {
        text-transform: uppercase;
        font-size: 2.2em;
        letter-spacing: 0.1em;
        color: #d119ff;
        font-weight: bold;
        margin-top: 20px;
        font-family: 'Roboto';
        text-shadow:10px 10px 10px rgba(0,0,0,.4);
        position: absolute;
        left: 100px;
        up: 20%;
    }

    @@media only screen and (max-width: 600px)
    {
        .WikiPage  p 
        {
            font-size: 1.5em;
        }
    } 

 </style>
</div>